body {
  background-color: #364F6B;
}

/* Text */

h1, h2, h3, p, .mybutton {
  text-align: center;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  color: #3FC1C9;
  font-size: 5rem;
  font-weight: bold;
  padding-top: 20px;
}

h2 {
  font-family: 'Merienda', sans-serif;
  color: #FC5185;
  font-size: 2rem;
}

h3, p {
  text-align: center;
  color: #F5F5F5;
}

h3 {
  font-family: 'Merienda', sans-serif;
  font-size: 1.5rem;
}

a {
  text-align: center;
  color: #FC5185;
}

.bluetext {
  color: #3FC1C9;
}

.pinktext {
  color: #FC5185;
}

.h3dogdescription {
  padding-top:20px;
}

/* Position*/
.dogpic, .dice, .shakydog {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#dice-game, #shaking, .footer {
  position:absolute;
  width:100%;
}

#dice-game, #shaking {
    visibility: hidden;
}

#dice-game {
  top:250px;
}

#shaking {
  top:140px;
}

.footer {
  top:750px;
}

.sociallinks {
  /* width:7.7%; */
  width:12%;
  color: #FC5185;
  padding-left:20px:
}

.footericon:hover{
  color: #feb4ca;
}

.footericon {
  padding: 10px 10px;
}

@media (max-width: 615px) {
  #dice-game {
    top:350px
  }
  #shaking {
    top:170px;
  }
  .footer {
    top:2250px;
  }
  .dice {
    padding: 0;
  }
  #player1text, #player2text {
    padding-bottom: 30px;
  }
  .sociallinks {
    width:33%;
  }
}

@media (min-width: 616px) and (max-width: 987px) {
  .footer {
    top:1050px;
  }
  .dice {
    padding: 0;
  }
  #player1text, #player2text {
    padding-bottom: 30px;
  }
  .sociallinks {
    width:19%;
  }
}

/* Images */
.selectiondog {
  width: 50%;
}

.playerdog, .shakydog {
  width: 100%;
}

.dogpic {
  border: 10px solid;
  border-radius: 150px;
}

.phoebe {
  border-color: #3FC1C9;
}

.luna {
  border-color: #FC5185;
}

.dice {
  transform: scale(1.2);
  padding: 100px 0 50px;
}

.footericon {
  margin-left: auto;
  margin-right: auto;
}

/* Button */
.mybutton {
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 1.5rem;
  display: block;
  margin: 25px auto 50px;
  background-color: #F5F5F5;
  color: #364F6B;
  border-color: #364F6B;
}

.mybutton:hover {
  background-color: #3FC1C9;
  color: #F5F5F5;
}
